<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">作品</h3>
    
    <!-- 2025/03 CVPR 2025 -->
    <div class="publication">
      <div class="publication-image">
        <img src="assets/img/publications/textalk4D.png" alt="texTalk4D">
      </div>
      <div class="publication-details">
        <p><strong>Towards High-fidelity 3D Talking Avatar with Personalized Dynamic Texture</strong></p>
        <p><strong>IEEE 国际计算机视觉与模式识别会议 (CVPR) 2025</strong></p>
        <p><a href="https://xuanchenli.github.io/TexTalk/">[项目页面]</a> &nbsp; 
          <a href="https://arxiv.org/abs/2503.00495">[arXiv]</a></p>  
        </p>

        <div class="authors-container">
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>李炫辰</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>王建宇</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>程宇豪</span>
          </div>
          <div class="author-details">
            <img src="assets/img/classof2023/zengyikun.png" alt="Yikun ZENG" class="author-avatar">
            <span>曾奕锟</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>任星宇</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>朱文瀚</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/zhaoweiming.png" alt="Weiming ZHAO" class="author-avatar">
            <span>赵伟明</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar">
            <span>晏轶超</span>
          </div>
        </div>
      </div>
    </div>


    <!-- 2024/10 NIPS 2024 -->
    <div class="publication">
      <div class="publication-image">
        <img src="assets/img/publications/interreflectionReconstruction.png" alt="interReflectionReconstruction">
      </div>
      <div class="publication-details">
        <p><strong>Multi-times Monte Carlo Rendering for Inter-reflection Reconstruction</strong></p>
        <p><strong>全称神经信息处理系统大会 (NeurIPS) 2024</strong></p>
        <p><a href="https://zhutengjie.github.io/Ref-MC2/">[项目页面]</a> &nbsp; 
          <a href="https://github.com/zhutengjie/Ref-MC2-Code">[代码]</a> &nbsp;
          <a href="https://arxiv.org/abs/2407.05771">[arXiv]</a></p>  
        </p>

        <div class="authors-container">
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>朱腾杰</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>陈琢</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>高景南</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar">
            <span>晏轶超</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yangxiaokang.png" alt="Xiaokang YANG" class="author-avatar">
            <span>杨小康</span>
          </div>
        </div>
      </div>
    </div>


    <!-- 2024/10 ECCV 2024 -->
    <div class="publication">
      <div class="publication-image">
        <img src="assets/img/publications/himo.png" alt="HIMO">
      </div>
      <div class="publication-details">
        <p><strong>HIMO: A New Benchmark for Full-Body Human Interacting with Multiple Objects</strong></p>
        <p><strong>欧洲计算机视觉国际会议 (ECCV) 2024</strong></p>
        <p><a href="https://lvxintao.github.io/himo/">[项目页面]</a> &nbsp; 
          <a href="https://github.com/LvXinTao/HIMO_dataset">[代码]</a> &nbsp;
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdl5adeyKxBSBFZpgs0A7-dAouRkMFAGUP5iz3zxGDj_PhB1w/viewform">[获取数据集]</a> &nbsp;
          <a href="https://arxiv.org/abs/2407.12371">[arXiv]</a></p>  
        </p>

        <div class="authors-container">
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>吕鑫涛</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>徐良</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar">
            <span>晏轶超</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>金鑫</span>
          </div>
          <div class="author-details">
            <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="author-avatar">
            <span>徐聪晟</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>吴舒文</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>刘轶凡</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>Lincheng Li</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>Mengxiao Bi</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>曾文军</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yangxiaokang.png" alt="Xiaokang YANG" class="author-avatar">
            <span>杨小康</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 2024/07/16 ACMMM 2024 -->
    <div class="publication">
      <div class="publication-image">
        <img src="assets/img/publications/Infusion.png" alt="Infusion">
      </div>
      <div class="publication-details">
        <p><strong>Infusion: Preventing Customized Text-to-Image Diffusion from Overfitting</strong></p>
        <p><strong>ACM 多媒体大会 (ACM Multimedia) 2024</strong></p>
        <p><a href="https://zwl666666.github.io/infusion/">[项目页面]</a> &nbsp; 
          <a href="https://github.com/zwl666666/infusion">[代码]</a> &nbsp;
          <a href="https://arxiv.org/abs/2404.14007">[arXiv]</a></p>  
        </p>

        <div class="authors-container">
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>曾伟力</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar">
            <span>晏轶超</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>朱齐</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>陈琢</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/chupengzhi.png" alt="Pengzhi CHU" class="author-avatar">
            <span>楚朋志</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/zhaoweiming.png" alt="Weiming ZHAO" class="author-avatar">
            <span>赵伟明</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yangxiaokang.png" alt="Xiaokang YANG" class="author-avatar">
            <span>杨小康</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 2024/02 CVPR 2024 -->
    <div class="publication">
      <div class="publication-image">
        <img src="assets/img/publications/inter_x.png" alt="202402 CVPR">
      </div>
      <div class="publication-details">
        <p><strong>Inter-X: Towards Versatile Human-Human Interaction Analysis</strong></p>
        <p><strong>IEEE 国际计算机视觉与模式识别会议 (CVPR) 2024</strong></p>
        <p><a href="https://liangxuy.github.io/inter-x/">[项目页面]</a> &nbsp; 
          <a href="https://github.com/liangxuy/Inter-X">[代码]</a> &nbsp;
          <a href="https://arxiv.org/abs/2312.16051">[arXiv]</a></p>
        </p>


        <div class="authors-container">
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>徐良</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
            <span>吕鑫涛</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar">
            <span>晏轶超</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>金鑫</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>吴舒文</span>
          </div>
          <div class="author-details">
            <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="author-avatar">
            <span>徐聪晟</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="author-avatar"> -->
            <span>刘轶凡</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/chupengzhi.png" alt="Pengzhi CHU" class="author-avatar"> -->
            <span>周以舟</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>饶峰云</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>盛兴东</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>刘云辉</span>
          </div>
          <div class="author-details">
            <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="author-avatar"> -->
            <span>曾文军</span>
          </div>
          <div class="author-details">
            <img src="assets/img/faculty/yangxiaokang.png" alt="Xiaokang YANG" class="author-avatar">
            <span>杨小康</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<style>
  .publication {
    display: flex;
    flex-wrap: wrap; /* allow newline in small screen */
    margin-bottom: 40px;
  }
  
  .publication-image {
    flex: 0 1 400px;
    margin-right: 20px;
  }
  
  .publication-image img {
    max-width: 100%;
    height: auto;
  }
  
  .publication-details {
    flex: 1;
    margin-top: 20px; /* add margin to the top */
  }
  
  .authors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* gap between authors */
  }
  
  .author-details {
    display: flex;
    align-items: center;
  }
  
  .author-avatar {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-details span {
    line-height: 50px; /* align with imgs */
  }
  
  /* media check for mobiles if width less than 768px*/
  @media (max-width: 768px) {
    .publication {
      flex-direction: column; /* convert to column */
    }
    .publication-image {
      margin-bottom: 20px; /* bottom margin */
      margin-right: 0; /* delete right margin */
    }
    .publication-details {
      margin-top: 10px; /* reduce the margin-top for mobile */
    }
    .authors-container {
      justify-content: center; /* center */
    }
  }
  </style>

