---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">获奖</h3>

<!-- 2024/10/21 2024 INFORMS Data Mining Society Data Challenge 第三名 -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/202410informs.jpeg" alt="202410 Informs Data Mining Society Data Challenge 3rd Place">
  </div>
  <div class="award-details">
    <p><strong>Multi-modal and Metadata Capture Model for Micro Video Popularity Prediction</strong></p>
    <p><strong>2024 INFORMS Data Mining Society Data Challenge 第三名</strong></p>
    <p><strong>2024年10月</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <img src="assets/img/classof2023/lujiacheng.png" alt="Jiacheng LU" class="winner-avatar">
        <span>卢嘉成</span>
      </div>
      <div class="winner-details">
        <span>萧明远</span>
      </div>
      <div class="winner-details">
        <span>王伟健</span>
      </div>
      <div class="winner-details">
        <span>杜宇鑫</span>
      </div>
      <div class="winner-details">
        <span>吴政泽</span>
      </div>
      <div class="winner-details">
        <span>花成</span>
      </div>  
    </div>
  </div>
</div>



<!-- 2024/10 中美青年创客大赛上海分赛区特等奖、中美青年创客大赛总决赛主赛道优秀奖 -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/goldmedalPlaceholder.png" alt="中医诊疗机器人">
  </div>
  <div class="award-details">
    <p><strong>中医诊疗机器人 Traditional Chinese Medicine Diagnosis and Treatment Robot</strong></p>
    <p><strong>2024中美青年创客大赛上海分赛区特等奖、中美青年创客大赛总决赛主赛道优秀奖</strong></p>
    <p><strong>2024年10月</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>冒铖楷</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>陈静娜</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>胥耀元</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>李佳秋</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/kongjunxiao.png" alt="Junxiao KONG" class="winner-avatar">
        <span>孔珺晓</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>金林</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/chupengzhi.png" alt="Pengzhi CHU" class="winner-avatar">
        <span>楚朋志</span>
      </div>
      <div class="winner-details">
        <span>梁晓妮</span>
      </div>

    </div>
  </div>
</div>




<!-- 2024/10/21 中国国际大学生创新大赛（2024）上海市赛金奖 -2 -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/goldmedalPlaceholder.png" alt="学深智能——新一代生成式数字人平台">
  </div>
  <div class="award-details">
    <p><strong>学深智能——新一代生成式数字人平台</strong></p>
    <p><strong>中国国际大学生创新大赛（2024）上海市赛 金奖</strong></p>
    <p><strong>2024年10月</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar"> -->
        <span>朱文瀚</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
        <span>晏轶超</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar"> -->
        <span>彭乙骢</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/liuyitian.png" alt="Yitian LIU" class="winner-avatar"> -->
        <span>程宇豪</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zengyikun.png" alt="Yikun ZENG" class="winner-avatar"> -->
        <span>任星宇</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/tongxinwen.png" alt="Xinwen TONG" class="winner-avatar"> -->
        <span>曲志远</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/shuaizhe.png" alt="Zhe SHUAI" class="winner-avatar"> -->
        <span>闫泉林</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/baokangjie.png" alt="Kangjie BAO" class="winner-avatar"> -->
        <span>李一非</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/zhaoyu.png" alt="Yu ZHAO" class="winner-avatar"> -->
        <span>刘福龙</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/ruanyikang.png" alt="Yiakng RUAN" class="winner-avatar"> -->
        <span>王京昱</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/guoyuhan.png" alt="Yuhan GUO" class="winner-avatar"> -->
        <span>阿克卓力·努尔兰别克</span>
      </div>
      
      <div class="winner-details">
        <img src="assets/img/faculty/yangxiaokang.png" alt="Xiaokang YANG" class="winner-avatar">
        <span>杨小康</span>
      </div>
      
    </div>
  </div>
</div>



<!-- 2024/10/21 中国国际大学生创新大赛（2024）上海市赛金奖 -1 -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/goldmedalPlaceholder.png" alt="伴奂——时刻在场，更懂你的数字伙伴">
  </div>
  <div class="award-details">
    <p><strong>伴奂——时刻在场，更懂你的数字伙伴</strong></p>
    <p><strong>中国国际大学生创新大赛（2024）上海市赛 金奖</strong></p>
    <p><strong>2024年10月</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <img src="assets/img/classof2023/zhouyimao.png" alt="Yimao ZHOU" class="winner-avatar">
        <span>周溢茂</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/lujiacheng.png" alt="Jiacheng LU" class="winner-avatar">
        <span>卢嘉成</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
        <span>徐聪晟</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/liuyitian.png" alt="Yitian LIU" class="winner-avatar"> -->
        <span>赵婧楠</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/zengyikun.png" alt="Yikun ZENG" class="winner-avatar">
        <span>曾奕锟</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/tongxinwen.png" alt="Xinwen TONG" class="winner-avatar">
        <span>童欣文</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/shuaizhe.png" alt="Zhe SHUAI" class="winner-avatar">
        <span>帅哲</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/baokangjie.png" alt="Kangjie BAO" class="winner-avatar">
        <span>鲍康捷</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/zhaoyu.png" alt="Yu ZHAO" class="winner-avatar">
        <span>赵妤</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/ruanyikang.png" alt="Yiakng RUAN" class="winner-avatar">
        <span>阮亿康</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/guoyuhan.png" alt="Yuhan GUO" class="winner-avatar">
        <span>郭宇涵</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/liuyitian.png" alt="Yitian LIU" class="winner-avatar">
        <span>刘伊天</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/pengzerui.png" alt="Zerui PENG" class="winner-avatar">
        <span>彭泽瑞</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/shuaizhe.png" alt="Zhe SHUAI" class="winner-avatar"> -->
        <span>陈启炜</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/shuaizhe.png" alt="Zhe SHUAI" class="winner-avatar"> -->
        <span>萧明远</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/classof2023/shuaizhe.png" alt="Zhe SHUAI" class="winner-avatar"> -->
        <span>吴俊</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
        <span>晏轶超</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="winner-avatar">
        <span>赵伟明</span>
      </div>
      <div class="winner-details">
        <!-- <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="winner-avatar"> -->
        <span>刘思亮</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/chupengzhi.png" alt="Pengzhi CHU" class="winner-avatar">
        <span>楚朋志</span>
      </div>
    </div>
  </div>
</div>



<!-- 2024/09/30 ECCV -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/20240930_ECCV_Challange.jpg" alt="20240930 ECCV Challange Team ACE 2nd Place">
  </div>
  <div class="award-details">
    <p><strong>第八届 HANDS 工作坊 ARCTIC 挑战赛, ECCV 2024</strong></p>
    <p><strong>第二名</strong></p>
    <p><strong>2024年10月12日</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
        <span>徐聪晟</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/liuyitian.png" alt="Yitian LIU" class="winner-avatar">
        <span>刘伊天</span>
      </div>
      <div class="winner-details">
        <!-- <img src="path/to/winner2-image.jpg" alt="Yifan LIU" class="winner-avatar"> -->
        <span>崔益</span>
      </div>
      <div class="winner-details">
        <!-- <img src="path/to/winner2-image.jpg" alt="Shuwen WU" class="winner-avatar"> -->
        <span>刘晋帆</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
        <span>晏轶超</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="winner-avatar">
        <span>赵伟明</span>
      </div>
    </div>
  </div>
</div>

<!-- 2024/06/30 第十四届挑战杯大学生创业计划竞赛（市赛）铜奖 -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/bronzemedalPlaceholder.png" alt="“交育”——AI驱动的数字人交互式智慧教学平台">
  </div>
  <div class="award-details">
    <p><strong>“交育”——AI驱动的数字人交互式智慧教学平台</strong></p>
    <p><strong>第十四届挑战杯大学生创业计划竞赛（市赛）铜奖</strong></p>
    <p><strong>2024年6月</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <span>李雪莹</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/qiubolin.png" alt="Bolin QIU" class="winner-avatar">
        <span>邱博林</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/yanguanju.png" alt="Guanju YAN" class="winner-avatar">
        <span>阎冠举</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/xuheyi.png" alt="Heyi XU" class="winner-avatar">
        <span>许禾翌</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/kongjunxiao.png" alt="Junxiao KONG" class="winner-avatar">
        <span>孔珺晓</span>
      </div>
      <div class="winner-details">
        <span>冷雨桐</span>
      </div>
      <div class="winner-details">
        <span>龚欣怡</span>
      </div>
      <div class="winner-details">
        <span>吴竞尧</span>
      </div>
      <div class="winner-details">
        <span>黄文浩</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/wangyuhang.png" alt="Yuhang WANG" class="winner-avatar">
        <span>王雨杭</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/zhangwenkang.png" alt="Wenkang ZHANG" class="winner-avatar">
        <span>张文康</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
        <span>晏轶超</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/zhaoweiming.png" alt="Weiming ZHAO" class="winner-avatar">
        <span>赵伟明</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/chupengzhi.png" alt="Pengzhi CHU" class="winner-avatar">
        <span>楚朋志</span>
      </div>
    </div>
  </div>
</div>

<!-- 2024/06/20 CVPR -->
<div class="award">
    <div class="award-image">
      <img src="assets/img/awards/20240620_CVPR_Challange.jpg" alt="20240620 CVPR Challange 3rd Place">
    </div>
    <div class="award-details">
      <p><strong>EGO-Exo4D挑战赛-身体姿态, IEEE / CVF CVPR</strong></p>
      <p><strong>第三名</strong></p>
      <p><strong>2024年6月17日</strong></p>

      <div class="winners-container">
        <div class="winner-details">
          <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
          <span>徐聪晟</span>
        </div>
        <div class="winner-details">
          <!--<img src="path/to/winner2-image.jpg" alt="Jinfan LIU" class="winner-avatar">-->
          <span>刘晋帆</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Yifan LIU" class="winner-avatar"> -->
          <span>刘轶帆</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Shuwen WU" class="winner-avatar"> -->
          <span>吴舒文</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
          <span>晏轶超</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/zhaoweiming.png" alt="Weiming ZHAO" class="winner-avatar">
          <span>赵伟明</span>
        </div>
      </div>
    </div>
</div>



<style>
.award {
  display: flex;
  flex-wrap: wrap; /* allow newline in small screen */
  margin-bottom: 20px;
}

.award-image {
  flex: 0 1 200px;
  margin-right: 20px;
}

.award-image img {
  max-width: 100%;
  height: auto;
}

.award-details {
  flex: 1;
}

.winners-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* gap between winners */
}

.winner-details {
  display: flex;
  align-items: center;
}

.winner-avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.winner-details span {
  line-height: 50px; /* align with imgs */
}

/* media check for mobiles if width less than 768px*/
@media (max-width: 768px) {
  .award {
    flex-direction: column; /* convert to column */
  }
  .award-image {
    margin-bottom: 20px; /* bottom margin */
    margin-right: 0; /* delete right margin */
  }
  .winners-container {
    justify-content: center; /* center */
  }
}
</style>