---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">获奖</h3>





<style>
.award {
  display: flex;
  flex-wrap: wrap; /* allow newline in small screen */
  margin-bottom: 20px;
}

.award-image {
  flex: 0 1 200px;
  margin-right: 20px;
}

.award-image img {
  max-width: 100%;
  height: auto;
}

.award-details {
  flex: 1;
}

.winners-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* gap between winners */
}

.winner-details {
  display: flex;
  align-items: center;
}

.winner-avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.winner-details span {
  line-height: 50px; /* align with imgs */
}

/* media check for mobiles if width less than 768px*/
@media (max-width: 768px) {
  .award {
    flex-direction: column; /* convert to column */
  }
  .award-image {
    margin-bottom: 20px; /* bottom margin */
    margin-right: 0; /* delete right margin */
  }
  .winners-container {
    justify-content: center; /* center */
  }
}
</style>