---
layout: default
---
<!-- <div class="notification-box">
  <p><b>第二届 SJTU AIGC Class 正在招募中，将于2024年11月17日截止。</b></p>
  <p><b>请前往“加入我们”页面了解详情。</b></p>
  <p id="countdown"></p> 
</div> -->

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <!--<h3 class="fw-bold">About SJTU AIGC Class</h3>-->
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/aigc-website-home-july.jpg" alt="group-photo" width="100%">
  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">最新消息</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%Y.%m.%d" }}</p>
    {% endfor %}
  </div>
</div>

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">封面故事</h3>
    <div class="col-md-6">
      <img src="{{ site.github.url }}/assets/img/aigc-website-home-july.jpg" alt="group-photo" width="100%">
    </div>
    <div class="col-md-6">
      <p>Our group is a leading research group in the field of artificial intelligence and computer vision. We have published numerous papers in top-tier conferences and journals. Our group is a leading research group in the field of artificial intelligence and computer vision. We have published numerous papers in top-tier conferences and journals. Our group is a leading research group in the field of artificial intelligence and computer vision. We have published numerous papers in top-tier conferences and journals.</p>
    </div>  
  </div>
</div>   -->


<style>
  .notification-box {
      background-color: #4CAF50; /*#f0ad4e*/;
      color: white;
      padding: 15px;
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 20px;
      border-radius: 5px;
  }

</style>

<script>
  // 设置截止时间
  const deadline = new Date("2024-11-17T23:59:00").getTime();

  // 更新倒计时的函数
  function updateCountdown() {
      const now = new Date().getTime();
      const timeLeft = deadline - now;

      // 计算天、小时、分钟和秒
      const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
      const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

      // 显示倒计时
      document.getElementById("countdown").innerHTML =
          `距离报名截止还有 ${days}天 ${hours}小时 ${minutes}分钟 ${seconds}秒`;

      // 倒计时结束后停止更新
      if (timeLeft < 0) {
          clearInterval(countdownInterval);
          document.getElementById("countdown").innerHTML = "第二届 AIGC Class 报名已截止，感谢您的关注。";
      }
  }

  // 每秒更新倒计时
  const countdownInterval = setInterval(updateCountdown, 1000);
</script>
