---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">团队成员</h3>

<h4 class="fw-bold pb-3 mb-5">AIGC Class 荣誉主席</h4>

<div class="team-container">
  {% for person in site.data.settings.honorablechairs %}
  <div class="team-member">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}">
    <h3>{{ person.name }}</h3>
    <p>{{ person.title }}</p>
    <p>{{ person.department }}</p>
    <!-- <a href="{{ person.url }}" target="_blank">
      <i class="fas fa-link"></i> </a> -->
  </div>
  {% endfor %}
</div>


<h4 class="fw-bold pb-3 mb-5">AIGC Class 主席</h4>

<div class="team-container">
  {% for person in site.data.settings.headofclass %}
  <div class="team-member">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}">
    <h3>{{ person.name }}</h3>
    <p>{{ person.title }}</p>
    <p>{{ person.department }}</p>
    <a href="{{ person.url }}" target="_blank">
      <i class="fas fa-link"></i> </a>
  </div>
  {% endfor %}
</div>

<h4 class="fw-bold pb-3 mb-5">第二届 AIGC Class (2024)</h4>

<div class="team-container">
  {% for person in site.data.settings.classof2024 %}
  <div class="team-member">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}">
    <h3>{{ person.name }}</h3>
    <p>{{ person.school }}</p>
  </div>
  {% endfor %}
</div> 


<h4 class="fw-bold pb-3 mb-5">第一届 AIGC Class (2023)</h4>

<div class="team-container">
  {% for person in site.data.settings.classof2023 %}
  <div class="team-member">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}">
    <h3>{{ person.name }}</h3>
    <p>{{ person.school }}</p>
    <!-- <a href="{{ person.url }}" target="_blank">
      <i class="fas fa-link"></i> </a>
  </div> -->
  </div>
  {% endfor %}
</div>

<style>
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
}
.team-member {
  flex: 0 1 220px;
  margin: 20px;
  text-align: center;
}
.team-member img {
  width: 100px;
  height: 100px;
}
.team-member h3 {
  white-space: nowrap; /* Prevent the name from wrapping */
  overflow: hidden;
}

/* 为移动设备添加媒体查询 */
@media (max-width: 768px) {
  .team-member {
    flex: 0 1 45%; /* 每行两列 */
  }
}

@media (max-width: 480px) {
  .team-member {
    flex: 0 1 100%; /* 每行一列 */
  }
}

</style>

